@charset "utf-8";
/* CSS Document */

body
{
	background-image:  url("../image/bg-body.jpg")  ;
	background-repeat: no-repeat;
	background-color: #062B58;
}
#header_right
{	

}
h1.text
{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;	
	font-size: 50px;
	color: #F37F0C;   
    text-shadow: 2px 2px 0px #d5d5d5;
	
}
h2.text
{
	font-style: italic;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	color: #423F3F;
}
p.text
{
	text-align: center;	
	color: #3333FF;
	font-size: 15px;
}
.hearder_icon
{
	float: right;
	margin-right: 50px;
	font-size: 25px;
	color: crimson;
	font-style: italic;
}
#menu
{
	height: auto;
}
#menu a
{
	font-size: 13px;
	color: black;
}
#menu a:hover
{
	color: white;
	background-color: #ED1C24;
}
.hover
{
	color: white;
	background-color: #ED1C24;
}
#banner
{
	background-image: url(../image/bg-slide.png);
	background-repeat: repeat-x;
	background-size: contain;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 100%;
}

#banner img
{
	height: 200px;
	width: 360px;
	margin-top: 30px;
	margin-bottom: 20px;
}
		 .slideshow-container {
            max-width: 500px;
            position: relative;
            margin: auto;
          }
          /* Ẩn các slider */
          .mySlides {
              display: none;
          }

          /* định dạng các chấm chuyển đổi các slide */
          .dot {
            cursor:pointer;
            height: 13px;
            width: 13px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            transition: background-color 0.6s ease;
          }
          /* khi được hover, active đổi màu nền */
          .active, .dot:hover {
            background-color: #717171;
          }

          /* Thêm hiệu ứng khi chuyển đổi các slide */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 8s;
            animation-name: fade;
            animation-duration: 8s;
          }
		 @-webkit-keyframes fade {
            from {opacity: .92} 
            to {opacity: 1}
          }

          @keyframes fade {
            from {opacity: .92} 
            to {opacity: 1}
          }
#main
{
	height: auto;
	background-color: white;
}
#anhgstieubieu
{
	height: 400px;
	margin-left: 5px;
}
.list-group-item
{
	font-weight: bold;
}
#right
{
	margin-right: -25px;
}
.fa-asterisk{
	color: #E46419;
}
.fa-space-shuttle
{
	color: blue;
}
.panel-heading
{
	height: 40px;
	background-image: url(../image/Ca.png);
	background-size: 700px 40px;
}
input[type=text], [type=password], select, [type=date], textarea{
    width: 90%;
    padding: 4px;
    margin-left: 13px;
    border: 1px solid #ccc;
    resize: vertical;
}


input[type=text], [type=password], select, [type=date], textarea{
	border-radius: 4px;
}

/*select{
	height: 30px;
	width: 265px;
}*/
/* form styles */
form .row {
  display: block;
  padding: 1px 10px;
  margin-bottom: 4px;
}
form label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 220px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 40px; 
  color: #464646;
  vertical-align: top;
}
form .red { color: red; }
input[type=submit] {
    background-color: orange;
    color: white;
    width: 110px;
	height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 100px;
}
form .linkgiasu{
	margin-left: 223px;
}
form .submit{
	
}
.luuy{
	font-weight: bold;
}
#bangthongke{
	margin-left: 220px;
	width: 60%;
}
#footer
{
	height: auto;
	background-image: url(../image/quan.jpg);
	background-size: 100% 100%;
	clear: both;	
	color: white;
}
#footer_tt
{
background-image: url(../image/quan.jpg);
	background-size: 100% 100%;
	color: white;
}
.list-group active
{
	background-image: url(image/h3-left.PNG);
	 text-align: center;
	 color: darkred;
	 font-weight: bold;
}


